{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<title>Profile - {{user_profile.user.username}}</title>
	<!-- <link rel="icon" href="images/fav.png" type="image/png" sizes="16x16"> -->

	<link rel="stylesheet" href="{% static 'css/main.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/color.css' %}">
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
	<link rel="stylesheet" href="../static/css/styles2.css">
	<script src="https://kit.fontawesome.com/d08bb3046f.js" crossorigin="anonymous"></script>

</head>

<body>
	<div class="se-pre-con"></div>
	<div class="theme-layout">

	</div>

	<section>
		<div class="feature-photo">
			<figure><img src="{% static 'images/resources/timeline-1.jpg' %}" alt="img"></figure>
			<form action="/follow" method="POST">
				{% csrf_token %}
				<div class="add-btn">
					<span style="color: white; font-size: 27px; margin-right: 520px;"><b><u><a
									href="/">Home</a></u></b></span>

					{% if user_post_length == 0 %}
					<span style="color: white; font-size: 27px;"><b>No Post</b></span>
					{% elif user_post_length == 1 %}
					<span style="color: white; font-size: 27px;"><b>{{user_post_length}} Post</b></span>
					{% else %}
					<span style="color: white; font-size: 27px;"><b>{{user_post_length}} Posts</b></span>
					{% endif %}

					{% if user_followers == 0 or user_followers == 1 %}
					<span style="color: white; font-size: 27px;"><b>{{user_followers}} follower</b></span>
					{% else %}
					<span style="color: white; font-size: 27px;"><b>{{user_followers}} followers</b></span>
					{% endif %}


					<span style="color: white; font-size: 27px;"><b>{{user_following}} following</b></span>

					<input type="hidden" value="{{user.username}}" name="follower" />
					<input type="hidden" value="{{user_object.username}}" name="user" />

					{% if user_object.username == user.username %}
					<a href="/settings" data-ripple="">Account Settings</a>
					{% else %}
					<a data-ripple=""><button type="submit"
							style="background-color: #ffc0cb; border: #ffc0cb;">{{button_text}}</button></a>
					{% endif %}

				</div>
			</form>

			<!-- <form class="edit-phto">
					<i class="fa fa-camera-retro"></i>
					<label class="fileContainer">
						Upload Cover Photo
					<input type="file"/>
					</label>
				</form> -->
			<div class="container-fluid">
				<div class="row merged">
					<div class="col-lg-2 col-sm-3">
						<div class="user-avatar">
							<figure>
								<img src="{{user_profile.profileimg.url}}" style="height: 250px; width: 100%;" alt="">
								<!-- <form class="edit-phto">
										<i class="fa fa-camera-retro"></i>
										<label class="fileContainer">
											<a href="#account-settings">Upload Profile Photo</a>
										</label>
									</form> -->
							</figure>
						</div>
					</div>
					<div class="col-lg-10 col-sm-9">
						<div class="timeline-info">
							<ul>
								<li class="admin-name">
									<h5 style="color: black;white-space: nowrap; width: 110px; font-size: 27px;">
										<b>@{{user_profile.user.username}}</b>
										<!--<i class="fa fa-check-circle" style="color: #48dbfb;" aria-hidden="true"></i>-->
									</h5>
									<!--<span>Group Admin</span>-->
								</li>
								<!--<li>
										<a class="" href="javascript:void(0)" title="" data-ripple="">Go live!</a>
										<a class="" href="javascript:void(0)" title="" data-ripple="">Music</a>
										<a class="" href="emporium/index-3.html" title="" data-ripple="">Emporium</a>
										<a class="" href="fitness/index.html" title="" data-ripple="">Health Inspection</a>
										<a class="" href="settings/account-setting.html" title="" data-ripple="">Settings</a>
										<a class="" href="javascript:void(0)" title="" data-ripple="">Upload</a>
										<a class="" href="time-line.html" title="" data-ripple="">time line</a>
										<a class="" href="timeline-photos.html" title="" data-ripple="">Photos</a>
										<a class="" href="timeline-videos.html" title="" data-ripple="">Videos</a>
										<a class="" href="timeline-friends.html" title="" data-ripple="">Friends</a>
										<a class="" href="timeline-groups.html" title="" data-ripple="">Groups</a>
										<a class="" href="about.html" title="" data-ripple="">about</a>
										<a class="" href="#" title="" data-ripple="">more</a>

									</li>-->
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- top area -->
	<section>
		<div class="bio">
			{{user_profile.bio}}
			
			

		</div>
	</section>

	{% for post in user_posts reversed %}
		<section id="capsule">
			<div class="container">
				<div class="top">

					
					<!-- <button class="delete"><i class="fa-solid fa-ellipsis fa-2x"></i>
					
					</button> -->
					{% if user_object.username == user.username %}
					<div class="hidden-content">
						<a class="edit_btn" href="/edit/{{post.id}}">	
							<i class="fa-solid fa-trash"></i>
						</a>
						<a class="del_btn" href="/delete/{{post.id}}">	
							<i class="fa-solid fa-trash"></i>
						</a>
					</div>
					{% endif %}
				</div>
				<a class="img" href="{{post.image.url}}">
					<img src="{{post.image.url}}" alt="">
				</a>
				<a class="like-btn" href="/like-post?post_id={{post.id}}">
					<i class="fa-solid fa-thumbs-up fa-2x"></i>
				</a>
				<div class="like-count">

					{% if post.no_of_likes == 0 %}
					<p>No likes</p>
					{% elif post.no_of_likes == 1 %}
					<p>Liked by {{post.no_of_likes}} person</p>
					{% else %}
					<p>Liked by {{post.no_of_likes}} people</p>
					{% endif %}
				</div>
				<div class="caption">
					<a href="/profile/{{post.user}}"><strong>{{post.user}}</strong></a> {{post.caption}}
				</div>
				
				<div class="container-comments">
					{% for comment in comment_list reversed %}
                    {% if comment.post == post %}
					<div class="comment">
						<a class="comment-img" href="">
							<img src="{{comment.get_profile_img}}" alt="" >
						</a>
						<i class="fa-solid fa-caret-left"></i>
						<div class="comment-txt" href="#">{{comment}}</div>
					</div>
					{% endif %}
                    {% endfor %}
				</div>
			</div>
			</div>
		</section>

	{% endfor %}







	<script data-cfasync="false"
		src="{% static '../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script>
	<script src="{% static 'js/main.min.js' %}"></script>
	<script src="{% static 'js/script.js' %}"></script>

</body>


</html>